.footer{
  background: #282a3c;
  position:relative;
  z-index: 2;
  border-top: 4px solid #babbc0;

  & h2{
    color: #7c86a6;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding:20px 0;
  }

  &__nav{
    padding: 30px 0;
    @media(min-width:1023px){
      display:flex;
      padding: 0;
    }
  }

  &__menu{
    padding-bottom: 10px;
    @media(min-width:1023px){
      width:60%;
      padding-bottom: 0;
    }

    & > li {
      list-style-type: none;
      font-size:18px;
      & > a{
        color: white;
        padding: 5px 0;
        text-decoration: none;
        text-transform:none;
        font-weight:400;
      }
    }
  }

  &__social{
    display: flex;
    @media(min-width:1023px){
      width:40%;
      padding: 0;
    }

    & > li {
      list-style-type: none;
      padding: 0 10px;
      display: flex;
      align-items: center;
      @media(min-width:1024px){
        padding: 0 20px;
      }

      &  img{
        display:block;
        width: 100%;
      }
    }
  }

  &__partner{
    width:60%;
    margin: 0 auto;
    padding: 20px 0;

    & > img{
      width:100%;
    }
  }
}

.reviews{
  display: flex;
  align-items:center;
  justify-content: space-around;

  &__img{
    text-align: center;
    width:40%;
    @media (min-width:1024px){
      width:30%;
    }
  }

  & img{
    width:100%;
    max-width:200px;
  }
}
