.form{
  background: #282a3c;
  padding: 20px 0 50px;

  & h2 {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: white;
    @media(min-width:1024px) {
      font-size: 50px;
    }
  }

  &__input{
    width: 100%;
    padding:10px 0;
    @media(min-width:1024px) {
      width: 100%;
      margin: 0 auto;
      padding:10px 0;
    }

    & > input{
      width: 100%;
      background:hsla(239, 18%, 50%, 0.5);;
      border:3px solid #14162a;
      outline:0;
      border-radius:5px;
      padding: 5px 15px;
      font-size: 18px;
      line-height: 30px;
      color: white;
      font-family: 'Gilroy';

      &::placeholder{
        color:white;
        font-family: 'Gilroy';
      }

      &:focus{
        border-color:#45d8ab;
      }
    }
  }

  &__submit{

    & > button{
      text-decoration: none;
      padding:10px 30px;
      background: #45d8ab;
      color: #13162a;
      border-radius:5px;
      font-size: 18px;
      line-height: 30px;


      display: block;
      text-align: center;
      font-weight:800;
      border: 0;
      outline: 0;
      cursor: pointer;

    }
  }
}
