.header{
  background: linear-gradient(0.25turn,#25293a,#13162a);
  border-bottom: 2px solid #b8b9bf;

  &__inner{
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    @media(min-width:1024px){
      flex-direction: row;
      padding: 60px 0 100px;
    }
  }

  &__slogan{
    @media(min-width:1023px){
      width:50%;
      padding-right:60px;
    }

    & > h1 {
      position: relative;
      padding: 0 15px;
      font-size: 20px;
      line-height:1.3;

      font-weight:800;
      margin:40px 0;
      @media(min-width:768px){
        font-size: 40px;
      }

      @media(min-width:1023px){
        padding: 0 30px;
        font-size: 46px;

        &:before{
          content:'';
          position: absolute;
          right:-59px;
          top:0;
          width:2px;
          height:100%;
          background: #3c446b;
        }
      }
    }

    & > a {
      text-decoration: none;
      padding:15px;
      background: #45d8ab;
      color: #13162a;
      border-radius:5px;
      font-size: 18px;
      line-height: 40px;

      display: block;
      text-align: center;
      font-weight:800;

      @media(min-width:1024px){
        font-size: 35px;
      }
    }
  }

  &__list{
    position: relative;
    @media(min-width:1023px){
      width:50%;
      padding-left:60px;
    }

    & ul{
      position:relative;
      z-index:2;
      margin:40px 0 20px;
      padding: 0;

      & > li {
        list-style: none;
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        & > img{
          align-self: flex-start;
          width: 18px;
          margin-right: 18px;
          @media(min-width:1024px){
            width: 22px;
            margin-right: 22px;
          }
        }

        & > span{
          font-size: 18px;
          @media(min-width:1024px){
            font-size: 22px;
          }
        }
      }
    }

    & > img {
      display: none;
      position: absolute;
      z-index: 1;
      @media(min-width:1023px){
        display:block;
      }


      &:nth-of-type(1){
        width: 80px;
        left: 50%;
      }

      &:nth-of-type(2){
        width: 20px;
        left: 0;
        bottom: 0;
      }

      &:nth-of-type(3){
        width: 24px;
        right: 30%;
        top: 0;
      }

      &:nth-of-type(4){
        width: 40px;
        right: 16%;
        bottom: 40px;
      }

      &:nth-of-type(5){
        width: 34px;
        right: 20%;
        top: -34px;
      }
    }
  }

}

.logo{
  align-self: flex-start;
  width:100%;
  display: flex;
  align-items: center;
  padding: 20px 0 0;
  @media(min-width:768px){
    padding: 20px 0;
  }

  & > img{
    width:30px;
    margin-right: 20px;
    @media(min-width:768px){
      width: 50px;
    }
    @media(min-width:1023px){
      width: 70px;
    }
  }

  & > span {
    font-size: 30px;
    line-height:30px;
    text-transform:uppercase;
    @media(min-width:1023px){
      font-size: 40px;
      line-height:40px;
    }
  }
}
