*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Gilroy';
  font-size:16px;
  color: white;
  font-weight:600;
  text-transform: uppercase;
  font-size: calc(14px + (60 - 14) * ((100vw - 300px) / (1920 - 300)));
  @media(min-width:1920px) {
    font-size: 60px;
  }
}

.container{
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}
