.calendar__info{
  padding: 5px 0;
  //border-bottom: 1px solid var(--calendar-border);
  @media(min-width: 768px){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.calendar__period{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  &--date{
    font-size: 13px;
    min-width: 130px;
    text-align: center;

    & span{
      padding: 0 5px;
    }
  }

  &--next, &--back{
    width: 21px;
    height: 21px;
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    transition: 0.3s;

    & > path{
      fill: var(--calendar-dark);
      transition: fill 0.3s ease-out;
      pointer-events: none;
    }

    &:hover{
      background: var(--calendar-blue);
      & > path{
        fill: white;
      }
    }
  }

  &--back{
    transform: rotate(180deg);
  }

}

.calendar__status{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

  & li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
    border-radius: 4px;

    @media(min-width: 768px){
        margin: 0 10px 0 0;

        &:last-child{
          margin-right: 0;
        }
    }

    &:before{
      content:'';
      width:8px;
      height: 8px;
      display: block;
      margin: 0 10px;
    }
  }

  & &--reminder{
    &:before{
      content:'';
      background: var(--calendar-gold);
    }
  }

  & &--task{
    &:before{
      content:'';
      background: var(--calendar-border);
    }
  }

  & &--quickly{
    &:before{
      content:'';
      background: var(--calendar-blue);
    }
  }
}
