:root{
  --calendar-family: 'Open Sans', sans-serif;
  --calendar-dark: #333333;
  --calendar-blue: #527ad9;
  --calendar-grey: #f0f2f9;
  --calendar-gold: #eeaa02;
  --calendar-green: green;
  --calendar-border: #dadce0;
}
